#root {
  text-align: center;
}

.no-results {
  margin-top: 40px;
}

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  transition: all 0.3s ease;
}

.main-content_with-details {
  gap: 20px;
}

.main-content_with-details .bottom-section {
  width: 50%;
}

.no-text-decoration {
  text-decoration: none;
}

section {
  width: 50%;
  margin: 0 auto;
  text-align: start;
}

li {
  padding-bottom: 10px;
  color: hsl(341, 0%, 100%);
}

.about-page a {
  display: inline-block;
  margin-top: 30px;
  color: hsl(341, 0%, 100%);
  font-size: 24px;
}

.flyout {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: fit-content;
  background: hsla(0, 0%, 10%, 0.9);
  padding: 16px 24px;
  /*border-radius: 10px;
  box-shadow: 0 0 14px hsl(54, 100%, 56%);*/

  border: 2px solid hsl(54, 100%, 56%);
  border: 2px solid hsl(196, 84%, 88%);
  border-radius: 8px;
  background-color: hsl(210, 3%, 12%);
  background-color: hsl(50, 95%, 64%);
  background-color: hsl(196, 84%, 88%);

  box-shadow: 0 0 14px hsl(54, 100%, 56%);
  box-shadow: 0 0 14px hsl(196, 84%, 88%);
}

.flyout span {
  display: inline-block;
  margin-bottom: 20px;
  color: hsl(0, 0%, 0%);
}

.flyout button {
  border-color: hsl(0, 0%, 0%);
  text-transform: none;
  color: hsl(0, 0%, 0%);
}
.flyout button:hover {
  border-color: hsl(48, 86%, 63%);
  background-color: hsl(48, 86%, 63%);

  border-color: hsl(196, 84%, 84%);
  background-color: hsl(196, 84%, 84%);
}

.nav__link {
  position: relative;
  padding: 12px 8px 16px;
  font-size: 14px;
  color: hsl(180, 1%, 71%);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: hsl(0, 0%, 97%);
}

.nav__link.active {
  color: hsl(0, 0%, 97%);
}

.nav__link.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 8px;
  width: calc(100% - 16px);
  height: 2px;
  border-radius: 2px;

  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 4px 1px hsl(50, 95%, 64%);
}

.nav__link.active:hover {
  cursor: default;
}
